$green: #647B64;
$gray: #333333;
$gray-lighter: #4F4F4F;
$almost-white: #FEFEFE;
$yellow: #F3B562;
$green-gradient: linear-gradient(0.3turn, #647B64, #66ac66);

$screen-xl: 1100px;
$screen-lg: 900px;
$screen-md: 800px;
$screen-sm: 700px;